.footer-align-items,
.sidebar-element {
    align-items: center
}

a {
    text-decoration: none;
    color: auto !important
}

.logo,
.logo-flag {
    margin-left: 10px
}

.head-text,
.logo-flag-text,
.service-offer,
.service-title {
    font-size: 12px;
    font-weight: 700
}

.news,
.news ul,
.news ul li span,
.radio_wrapper {
    -webkit-user-select: none
}

Html {
    font-size: 14px
}

body {
    background-color: #fff !important;
    font-size: 14px !important;
    font-family: Poppins, sans-serif !important;
    overflow-x: hidden
}

p {
    font-size: 14px;
    margin: 0
}

input,
optgroup,
select,
textarea {
    width: 100% !important;
    background-color: #f3f2fb !important;
    border: 0 !important;
    height: 35px !important;
    border-radius: 5px !important;
    padding: 10px;
    text-align: left
}

input[type=radio] {
    width: auto !important;
    height: auto !important
}

.FlightTypeBtn input[type=radio] {
    width: 14px !important;
    height: 14px !important;
    top: 1px !important;
    outline: 0 !important;
    border: 1px solid #f57349 !important;
    background-color: #fff !important;
    -webkit-appearance: none;
    border-radius: 100% !important;
    margin-right: 4px;
    position: relative !important
}

.FlightTypeBtn input[type=radio]:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.FlightTypeBtn input[type=radio]:checked:before {
    background: #f57349
}

.FlightTypeBtn input[type=radio]:checked {
    border-color: #f57349
}

a,
a:hover {
    color: inherit
}

.form-control[disabled],
.form-control[readonly],
.inputFlightSize .remove-border .t-dates,
.select2-search input[type=text][disabled],
.select2-search input[type=text][readonly],
fieldset[disabled] .form-control,
fieldset[disabled] .select2-search input[type=text] {
    color: #000 !important
}

.btn-primary {
    color: #fff !important;
    background-color: #3c3475 !important;
    border-color: #3c3475 !important
}

.btn-danger {
    background-color: #f57349
}

.navbar {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    box-shadow: 0 0 10px #d3d0d0;
    min-height: 80px !important
}

.navbar-brand {
    height: 65px !important;
    padding: 0 30px !important
}

.container {
    max-width: none
}

.dropdown-menu,
.select2-drop {
    min-width: max-content !important
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    right: 0;
    top: 30px
}

.dropdown-item {
    width: fit-content;
    padding: 1rem 2.5rem
}

.btn {
    border-radius: 10px
}

.fixed-top {
    position: fixed;
    height: 20
}

.logo {
    width: 100%;
    height: 30px
}

.logo-flag {
    width: 13px;
    height: 13px;
    top: 2px;
    position: relative
}

.header-search {
    width: 320px !important;
    height: 42px !important;
    border: 1px solid #bdc3c7 !important;
    background-color: #fff !important;
    border-radius: 15px !important
}

.no-margin {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.text-blue {
    color: #383072
}

.link-anchor:hover,
.service-offer,
.text-orange {
    color: #f57349
}

.text-grey {
    color: #a0a0a0
}

.header-icon {
    height: 25px;
    width: 25px
}

.header-container {
    padding: 1.5% 0;
    position: fixed;
    top: 81px;
    width: 100%;
    z-index: 15;
    background-color: #f3f2fb;
    display: none
}

.content-section {
    padding-top: 100px
}

.flight-icon {
    position: relative;
    padding: 5px 6px;
    border-radius: 50%;
    background-color: #f5f5f5;
    left: 98.5%;
    bottom: 35%;
    box-shadow: 0 0 10px #c9c4c4;
    z-index: 1
}

.flight-container,
.service-icon {
    border-radius: 15px;
    box-shadow: 0 0 10px #e0e0e0;
    background-color: #fff
}

.flight-icon img {
    width: 17px;
    height: 17px
}

.flight-container {
    padding: 2% 2% 0
}

.from_location_error,
.return_date_error,
.t-date-check-in span,
.to_location_error {
    font-size: 12px
}

.service-container {
    text-align: center;
    padding: 0 29%
}

.service-container>a {
    color: #000
}

.service-icon {
    padding: 28%
}

.service-icon img {
    height: 35px;
    width: 35px
}

.service-title {
    padding-top: 8px
}

.holiday-left-img {
    height: 250px;
    background: linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, .2)) 0 0/cover no-repeat, url(../image/travel/home-package-dubai.jpg) 0 0/cover no-repeat;
    border-radius: 15px
}

.holiday-right-img,
.holiday-right-img2 {
    height: 120px;
    position: inherit;
    border-radius: 15px
}

.holiday-left-text,
.holiday-right-text1,
.holiday-right-text2 {
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 800
}

.holiday-right-img {
    background: linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, .2)) center/cover no-repeat, url(../image/travel/home-package-thailand.jpg) center/cover no-repeat
}

.holiday-right-img2 {
    background: linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, .2)) center/cover no-repeat, url(../image/travel/home-package-bali.jpg) center/cover no-repeat
}

.holiday-left-text {
    bottom: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%)
}

.holiday-right-text1 {
    bottom: 55px;
    right: -4%;
    height: 0
}

.holiday-right-text2 {
    bottom: 58px;
    right: -5%
}

.sidebar-container,
.sidebar-container.affix {
    position: sticky;
    width: 90%;
    top: 110px;
    transition: -.85s ease-in
}

.sidebar-container.affix {
    top: 110px
}

.site-description {
    font-size: 14px !important;
    padding-top: 20px
}

.sidebar-parent {
    padding-bottom: 15px;
    z-index: 9
}

.sidebar-container.affix-bottom {
    position: sticky;
    bottom: 0;
    width: 90% !important;
    z-index: 11;
    margin-left: 5%
}

.sidebar-container {
    background-color: #fff;
    border-radius: 15px;
    padding: 7px 17px;
    margin-left: 5%;
    box-shadow: 0 0 10px #bfbfbf;
    z-index: 10;
    height: 80vh
}

.sidebar-group {
    background-color: #f3f2fb;
    margin: 10px 0;
    border-radius: 15px
}

.sidebar-element {
    color: #3c3475;
    font-weight: 600;
    padding: 3% !important;
    display: flex;
    gap: 10px
}

.sidebar-element span {
    color: #3c3475
}

.digifoldimg img {
    width: 25px
}

.disclaimer-container {
    background-color: #f6f5fc;
    border-radius: 20px;
    margin-top: 2%;
    padding: 2%;
    box-shadow: 0 0 10px #d3d1d1
}

.footer-container {
    background-color: #f3f2fb;
    border: 1px solid #cec8c8;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 1% 8% 0
}

.base-footer {
    background-color: #3c3475;
    color: #fff;
    padding: 2% 5%;
    text-align: center;
    font-size: 14px
}

@keyframes ticker {

    0%,
    100% {
        margin-top: 0
    }

    25% {
        margin-top: -25px
    }

    50% {
        margin-top: -50px
    }
}

.news {
    width: 100%;
    height: 25px;
    margin: 0 auto 0 0;
    overflow: hidden
}

.news ul {
    display: inline-block;
    width: 100%;
    animation: 7s cubic-bezier(1, 0, .5, 0) infinite ticker;
    padding-left: 0
}

.news ul li {
    line-height: 25px;
    list-style: none
}

.news ul li span {
    font-size: 12px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    font-weight: 600;
    text-align: left
}

.news span:hover+ul,
.news ul:hover {
    animation-play-state: paused
}

.holidays-container,
.voucher-container {
    background-color: #fff;
    border-radius: 15px;
    padding: 1% 2% 3%;
    margin-top: 4%;
    box-shadow: 0 0 10px #d3d1d1;
    min-height: 320px
}

.wrap {
    max-width: 900px;
    margin: 0 auto
}

.glide__slide {
    border-radius: 15px;
    line-height: 100px;
    margin-top: 25px !important;
    text-align: center
}

.voucher-img {
    width: 150px;
    height: 100px;
    margin: 25px 10px 0;
    object-fit: contain;
    padding: 10px
}

.voucher-text {
    font-weight: 700;
    line-height: 65px;
    color: #000
}

.zoom {
    transition: transform .2s
}

.zoom:hover {
    transform: scale(1.03)
}

.search_area {
    width: auto !important
}

.serchDrop {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
    width: 316px;
    position: absolute;
    left: 0;
    top: 59px;
    min-height: 316px;
    overflow-y: scroll;
    height: 320px;
    z-index: 999999
}

.FlightNewDrop.serchDrop {
    top: 80px
}

.FlightNewDropList.searchedList li {
    background-color: #e9edf1
}

.FlightNewDropList.searchedList li:hover {
    background-color: #dde8f3;
    border-left: 2px solid #acbdce
}

.FlightNewDropList li .leftFull p {
    font-size: 16px;
    color: #000;
    font-weight: 600
}

.FlightNewDropList li .leftFull p span {
    display: block;
    color: #999;
    font-size: 14px;
    line-height: 12px;
    font-weight: 300
}

.searchHead input {
    padding: 5px 10px;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    background: #fff;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    height: 45px
}

.searchHead h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 5px 0 0;
    padding: 10px;
    color: #9b9b9b;
    font-weight: 700
}

.leftFull {
    width: calc(100% - 70px);
    float: left
}

.leftFull p {
    font-size: 14px;
    color: #000;
    font-weight: 600
}

.searchHead {
    width: 100%;
    display: inline-block
}

.leftFull p span {
    display: block;
    color: #9b9b9b;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300
}

.searchedList,
.top-footer .footer-list {
    list-style: none;
    padding: 0
}

.rightShort p {
    font-size: 14px;
    color: #9b9b9b;
    line-height: 39px;
    font-weight: 700;
    text-align: right
}

.searchedList li:hover {
    background-color: #f2f2f2
}

.searchedList li {
    padding: 3px 10px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid rgba(228, 228, 228, .2)
}

.searchedList li:first-child {
    margin-top: 5px
}

.t-table-condensed {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: top
}

.t-date-title {
    clear: both;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 15px 0 10px;
    color: #e91e63
}

.t-day,
.t-disabled,
.t-end,
.t-range,
.t-start {
    border-width: 2px;
    border-style: solid
}

.t-arrow {
    border: none
}

.t-hover-day::after,
.t-special-day:before {
    content: "";
    border-style: solid
}

.t-arrow,
.t-dates,
.t-day,
.t-end,
.t-end-limit,
.t-range,
.t-start {
    cursor: pointer
}

.t-hover-day,
.t-special-day {
    position: relative
}

.t-hover-day-content {
    top: -30px;
    width: 70px;
    right: calc(50% - 35px);
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 5px;
    border-radius: 4px;
    z-index: 9999
}

.t-today .t-hover-day-content {
    z-index: 9998
}

.t-check-in .t-end-limit,
.t-disabled {
    opacity: .25;
    cursor: auto
}

.t-check-in,
.t-check-out {
    border-color: #ddd
}

.t-check-in.selected,
.t-check-out.selected {
    border-color: #afafaf
}

.t-special-day:before {
    height: 3px;
    width: 3px;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    border-width: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-color: #e91e63 #e91e63 transparent transparent
}

.t-day,
.t-disabled,
.t-end,
.t-range,
.t-start {
    background: #fff;
    border-color: #fff
}

.t-disabled {
    background: 0 0
}

.t-highlighted.t-disabled {
    background: #fff
}

.t-check-in .t-end,
.t-check-out .t-start,
.t-check-out tr~.t-end,
.t-end,
.t-end-limit,
.t-start {
    color: #fff;
    background: #11b3f1
}

.t-range,
.t-range-limit {
    color: #59caf5
}

.t-range {
    background: #e9f8fe
}

.t-range-limit {
    background: #d1f0fc
}

.t-range-limit.t-end,
.t-range-limit.t-start {
    color: #fff;
    background: #89d9f8
}

.t-hover-day,
.t-hover-day-content,
.t-hover-day:hover {
    color: #fff;
    background: #59caf5
}

.t-hover-day::after {
    position: absolute;
    top: -8px;
    right: calc(50% - 7px);
    border-width: 7px;
    border-color: #59caf5 transparent transparent
}

.t-today,
.t-today .t-hover-day-content {
    background: #aeaeae
}

.t-today::after {
    border-top-color: #aeaeae
}

.t-today:hover,
.t-today:hover .t-hover-day-content {
    background: #59caf5
}

.t-today:hover::after {
    border-top-color: #59caf5
}

.t-end.t-today,
.t-start.t-today {
    color: #fff
}

.t-end.t-today,
.t-end.t-today .t-hover-day-content,
.t-start.t-today,
.t-start.t-today .t-hover-day-content {
    background: #11b3f1
}

.t-end.t-today::after,
.t-start.t-today::after {
    border-top-color: #11b3f1
}

.t-datepicker-day {
    top: 50px;
    left: -80px;
    overflow: hidden;
    position: absolute;
    z-index: 9998;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, .25);
    border: 1px solid #ededed;
    background: #fff
}

.t-next,
.t-prev,
.t-table-condensed td,
.t-table-condensed th {
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #333
}

@media (min-width:1281px) {
    .inputFlightSize {
        max-width: 23.6%;
        float: left;
        width: 100%;
        margin-right: 12px;
        position: relative
    }

    .active_trip {
        border: 1px solid #f57349 !important;
        color: #f57349 !important;
        position: relative !important;
        top: 3px !important
    }

    .short_desc {
        margin-bottom: 30px;
        max-height: 46px;
        overflow: hidden
    }

    .FlightBannerContent {
        position: static;
        top: 184px;
        left: 0;
        right: 0;
        padding: 0;
        margin-top: -4px
    }

    .all_rechare_list {
        width: 100%;
        display: inline-block;
        padding: 0 75px
    }

    .topBannerFlight {
        width: 100%;
        display: inline-block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 207px
    }
}

.lazy_blur {
    background-color: #c1bebe;
    filter: blur(10px);
    transition: 1s;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px)
}

@media (max-width:480px) {
    .t-datepicker-days {
        width: 300px
    }

    .t-datepicker-days .t-table-wrap {
        margin-left: 0;
        width: 100%;
        padding: 0 10px
    }
}

@media (max-width:320px) {
    .t-datepicker-days {
        width: 290px
    }

    .t-datepicker-days .t-table-wrap {
        padding: 0 5px
    }
}

.passenger_class_box {
    position: absolute;
    width: 465px;
    color: #333;
    background: #fff;
    right: 2%;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    z-index: 2;
    display: none
}

.passenger_class_box .mob_header {
    padding: 15px 30px;
    background: #012b72;
    display: none
}

.passenger_class_box .mob_header .close_icon {
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding-right: 15px
}

.passenger_class_box .mob_header p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    display: inline-block
}

.passenger_class_box .mob_header .passclose_text {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    float: right
}

.passenger_class_box .side_col {
    float: left;
    width: 60%
}

.passenger_class_box .inner_header {
    padding: 10px 15px;
    display: none
}

.passenger_class_box .inner_header p {
    font-size: 14px;
    font-weight: 600
}

.passenger_class_box .count_wrapper {
    margin: 0 0 10px
}

.passenger_class_box .count_title p {
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: 600;
    line-height: 1
}

.passenger_class_box .side_col.right_col {
    width: 40%;
    float: left;
    border-left: 1px solid #999;
    margin-top: 6%
}

.passenger_class_box .body {
    padding: 10px 15px
}

.inputFlightSize label {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    color: #2c363f;
    line-height: 24px
}

.radio_wrapper input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.radio_wrapper {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 13px !important;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    line-height: 20px;
    margin-bottom: 8px;
    font-weight: 500
}

.radio_wrapper .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid #a2a2a2
}

.radio_wrapper input:checked~.checkmark::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e04a3a
}

.passenger_class_box .footer {
    text-align: right;
    padding: 0 15px;
    width: 100%;
    float: left;
    margin-bottom: 10px
}

.passenger_class_box .close_dp {
    display: inline-block;
    font-size: 14px;
    padding: 3px 15px 5px;
    border-radius: 3px;
    border: 1px solid #e04a3a;
    background: #e04a3a;
    color: #fff;
    text-decoration: none
}

.passenger_class_box .num_counter ul {
    margin: 0;
    display: inline-block;
    list-style: none;
    padding-left: 0
}

.passenger_class_box .num_counter ul .count-btn {
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 7px;
    display: block;
    border: 1px solid transparent;
    line-height: 1.2;
    color: #333
}

.passenger_class_box .num_counter ul .count-btn:hover {
    border: 1px solid #e04a3a;
    color: #e04a3a;
    text-decoration: none;
    outline: 0
}

.passenger_class_box .num_counter ul .count-btn.disabled {
    opacity: .5;
    border-color: transparent;
    color: #333;
    background: 0 0;
    cursor: not-allowed
}

.passenger_class_box .num_counter ul .count-btn.selected {
    background: #e04a3a;
    color: #fff;
    border: 1px solid #e04a3a
}

.form-control[disabled],
.form-control[readonly],
.select2-search input[type=text][disabled],
.select2-search input[type=text][readonly],
fieldset[disabled] .form-control,
fieldset[disabled] .select2-search input[type=text] {
    background-color: #f3f2fb !important;
    border: 1px solid #e9edf1 !important;
    opacity: 1
}

.offer-container-1,
.offer-container-2,
.offer-container-3 {
    height: 290px;
    border-radius: 40px
}

.offer-container-1 {
    background-color: #86f6f3;
    padding-top: 12px
}

.offer-container-2 {
    background-color: #d9a4fb
}

.offer-container-3 {
    background-color: #f68686;
    padding-top: 40px
}

.offer-bg-image1,
.offer-bg-image2,
.offer-bg-image3 {
    height: 100px;
    width: 100px;
    position: relative
}

.offer-bg-image1 {
    left: 60%;
    bottom: 90%
}

.offer-bg-image2 {
    left: 54%;
    bottom: 27%
}

.offer-bg-image3 {
    left: 60%;
    bottom: 95%
}

.Offer-text {
    font-size: 18px;
    padding-top: 35% !important
}

.offer-front-image1 {
    width: 60%;
    position: relative;
    left: 12%;
    bottom: 90%
}

.offer-front-image2 {
    width: 86%;
    position: relative;
    left: 21%;
    bottom: 65%
}

.offer-front-image3 {
    width: 25%;
    position: relative;
    bottom: 94%;
    left: 32%
}

.sub-header-overlay,
.sub-header-overlay.active {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%
}

.offer-button {
    padding-left: 1.5rem
}

.sub-header-overlay {
    height: 0
}

.sub-header-overlay.active {
    height: 100vh;
    top: 55px;
    left: -75vw;
    width: 100vw;
    background-color: #5954b933;
    z-index: 2;
    cursor: pointer
}

.flight_icon {
    width: 35px;
    height: 20px
}

.voucher-offer-bg {
    position: relative;
    bottom: 38px
}

.voucher-offer-text {
    line-height: initial;
    position: relative;
    top: -107px;
    color: #fff;
    left: 0;
    font-weight: 700
}

.service-list-section {
    background-color: #fff;
    padding: 18px 25px 10px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0 0 10px #ddd;
    border-radius: 15px
}

.service-list-img {
    width: 100%
}

.service-list-container {
    padding: 5px
}

.service-list-img-container {
    padding: 16px;
    background-color: #f3f2fb;
    border-radius: 15px;
    height: 60px;
    width: 60px
}

.service-list-text-container {
    font-size: 12px;
    padding-top: 5px
}

.more-services-container {
    width: 30vw;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    right: 25px;
    padding: 0 15px
}

.footer-container a {
    line-height: 32px;
    color: #7a7a7a !important;
    font-weight: 600;
    text-decoration: none
}

.foot-image-section {
    display: flex;
    align-items: center
}

.footer-contact {
    line-height: 20px;
    color: #7a7a7a;
    font-weight: 600;
    font-size: 12px
}

.app-store-foot,
.footer-list-container {
    display: flex;
    justify-content: space-between
}

.whole_left_c {
    width: 90%
}

.middle-footer-container .foot-title,
.top-footer-container .foot-title {
    color: #f57349;
    margin: 0;
    font-size: 15px !important;
    font-weight: 700;
}

.top-footer .footer-list .footer-list-item {
    font-size: 12px;
    color: #2b2929;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 700;
}

.top-footer .footer-list .footer-list-item:hover {
    color: #f57349;
    margin-left: 10px
}

.top-footer-container {
    border-bottom: 1px solid #bac1c8
}

.top-footer-container .list-item {
    line-height: 18px
}

.link-anchor {
    padding-right: 3px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #666;
    font-weight: 200
}

.link-anchor:not(:last-child):after {
    content: "|";
    margin: 0 8px
}

.bottom-footer-container {
    background-color: #3c3475;
    padding: 10px 40px
}

.bottom-footer-container .foot-title {
    color: #fff;
    margin: 0;
    font-size: 12px !important;
    letter-spacing: 1.2px;
    align-items: center;

    

}

.footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #bac1c8;
    background-color: #fff;
    
}

.middle-footer-container .biller-list {
    line-height: 35px
}

.middle-footer-container .biller-list .biller-title {
    display: inline;
    margin-right: 6px;
    font-weight: 600;
    color: #2b2929;
    font-size: 13px;
   
}

.payment-method-img {
    background: #fff;
    padding: 2px;
    width: 40px;
    height: 32px;
    object-fit: contain
}

.bg-amex {
    width: 50px;
    height: 32px;
    background-position: -10px -256px
}

.bg-mastercard,
.bg-rupay {
    width: 50px;
    height: 32px;
    background-position: -80px -256px !important
}

.payment-icons {
    display: flex;
    align-items: center;
    justify-content: end
}

@media only screen and (max-width:767px) {
    .logo {
        margin-bottom: 5px;
        margin-top: 3px
    }

    .logo-flag {
        width: 10px;
        height: 10px;
        margin-top: 12px;
        position: initial
    }

    .logo-flag-text {
        font-size: 10px;
        padding-left: 2px;
        position: fixed;
        top: 18px
    }

    .news ul li span {
        font-size: 10px
    }

    .offer-container-2,
    .offer-container-3 {
        margin-top: 15px;
        height: 230px
    }

    .voucher-text {
        font-weight: 700;
        line-height: 20px;
        padding: 0 5px 10px
    }

    .voucher-img {
        width: 60%;
        margin: 20px;
        height: 80px
    }

    #menu,
    #menuToggle span:first-child {
        transform-origin: 0 0%
    }

    .content-section {
        padding-top: 85px
    }

    .service-container {
        padding: 0
    }

    .popular-services {
        background-color: #fff;
        border-radius: 20px;
        padding: 0 16px 50px 15px
    }

    .popular-services-modal {
        background-color: #fff;
        border-radius: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        margin: 10px 0
    }

    .service-icon {
        background-color: #f6f5fc;
        padding: 24%
    }

    .holiday-left-img {
        height: 190px;
        background: linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, .2)) 0 0/cover no-repeat, url(../image/travel/home-package-dubai.jpg) 0 0/cover no-repeat
    }

    .holiday-left-text {
        bottom: 50px;
        left: 7%;
        height: 0;
        font-size: 25px
    }

    .holiday-right-img {
        height: 190px;
        background: linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, .2)) 0 0/cover no-repeat, url(../image/travel/home-package-thailand.jpg) 0 0/cover no-repeat;
        position: inherit
    }

    .holiday-right-img2 {
        height: 190px;
        background: linear-gradient(rgb(0, 0, 0, .2), rgb(0, 0, 0, .2)) 0 0/cover no-repeat, url(../image/travel/home-package-bali.jpg) 0 0/cover no-repeat;
        position: inherit
    }

    .holiday-right-text1 {
        position: relative;
        top: -55px;
        left: 7%;
        height: 0;
        font-size: 25px
    }

    .holiday-right-text2 {
        position: relative;
        top: -6vh;
        left: 7%;
        height: 0;
        font-size: 25px
    }

    .offer-button {
        padding-left: 3rem
    }

    .Offer-text {
        font-size: 18px
    }

    .offer-container-1 {
        height: 230px
    }

    .offer-front-image1 {
        left: 13%;
        bottom: 98%
    }

    .offer-bg-image1 {
        left: 70%;
        bottom: 95%
    }

    .offer-bg-image2 {
        left: 60%;
        bottom: 63%
    }

    .offer-front-image2 {
        left: 8%;
        bottom: 50%;
        width: 60%
    }

    .offer-container-3 {
        padding-top: 0
    }

    .offer-front-image3 {
        width: 22%;
        bottom: 77%;
        left: 45%
    }

    .offer-bg-image3 {
        left: 70%;
        bottom: 77%
    }

    .site-description {
        padding: 2% 5%;
        text-align: justify
    }

    .disclaimer-container {
        padding: 5%
    }

    .base-footer {
        text-align: center
    }

    .navbar-brand {
        padding: 0 !important
    }

    .logo {
        height: 20px
    }

    .navbar-nav {
        margin: 0;
        width: 164px
    }

    .LoginPage {
        margin-top: 0 !important;
        min-height: 100vh !important
    }

    .singupbtn {
        right: 28% !important
    }

    .load-more-services {
        position: relative;
        left: 37vw;
        top: -40px;
        width: max-content
    }

    .holidays-container {
        margin-top: 10%
    }

    .holidays-container,
    .voucher-container {
        padding: 1% 6%
    }

    #menuToggle {
        display: block;
        position: fixed;
        top: 30px;
        left: 83%;
        z-index: 1031;
        -webkit-user-select: none;
        user-select: none;
        width: 10px
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color .3s
    }

    #menuToggle a:hover {
        color: tomato
    }

    #menuToggle input {
        display: block;
        width: 40px !important;
        height: 32px !important;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #383072;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(50deg) translate(3px, 5px);
        background: #383072;
        width: 16px !important;
        margin-left: 20px !important
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0) scale(.2, .2)
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px)
    }

    #menu {
        position: absolute;
        width: 303px;
        height: 100vh;
        margin: -58px 0 0 -85vw;
        padding: 8px 20px 5px;
        background: var(--bs-white);
        list-style-type: none;
        border: 1px solid #ddd;
        -webkit-font-smoothing: antialiased;
        transform: translate(-112%, 0);
        transition: transform .5s cubic-bezier(.77, .2, .05, 1);
        box-shadow: 0 0 30px #cecece
    }

    #menu p {
        padding: 10px 0;
        color: #383072;
        font-weight: 600;
        margin: 0;
        font-size: 14px !important
    }

    #menuToggle input:checked~#menu {
        transform: none
    }

    .sidebar-group {
        background-color: #f3f2fb;
        border-radius: 10px;
        padding: 12px
    }

    .another-login-option a:first-child,
    .another-login-option a:nth-child(2) {
        justify-content: center !important;
        gap: 10px !important
    }

    .voucher-offer-text {
        top: -105px;
        left: 68%;
        max-width: 56px
    }

    .voucher-offer-bg {
        bottom: 37px;
        left: 68%;
        max-width: 56px
    }
}

.FlightTypeBtn button {
    border: none !important;
    background: 0 0 !important
}

.remove-border.t-check-in .t-date-info-title {
    top: 4px;
    left: 0
}

@media only screen and (max-width:576px) {
    .modal-dialog {
        max-width: 500px !important
    }
}

@media only screen and (min-width:577px) {
    .modal-dialog {
        max-width: 100% !important
    }

    .content-section {
        padding-left: 1.5%;
        padding-right: 1.5%
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }

    .navbar-collapse.collapse {
        display: none !important
    }

    #menuToggle {
        display: block;
        position: fixed;
        top: 30px;
        right: 9%;
        z-index: 1031;
        -webkit-user-select: none;
        user-select: none;
        width: 10px
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color .3s
    }

    #menuToggle a:hover {
        color: tomato
    }

    #menuToggle input {
        display: block;
        width: 40px !important;
        height: 32px !important;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #383072;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(50deg) translate(3px, 5px);
        background: #383072;
        width: 16px !important;
        margin-left: 20px !important
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0) scale(.2, .2)
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px)
    }

    #menu {
        position: absolute;
        width: 330px;
        height: 100vh;
        margin: -58px 0 0 -90vw;
        padding: 8px 20px 5px;
        background: var(--bs-white);
        list-style-type: none;
        border: 1px solid #ddd;
        -webkit-font-smoothing: antialiased;
        transform: translate(-112%, 0);
        transition: transform .5s cubic-bezier(.77, .2, .05, 1);
        box-shadow: 0 0 30px #cecece
    }

    #menu p {
        padding: 10px 0;
        color: #383072;
        font-weight: 600
    }

    #menuToggle input:checked~#menu {
        transform: none
    }

    .service-icon {
        padding: 22%
    }

    .footer-container {
        padding: 1% 3% 0
    }

    .content-section {
        padding-top: 90px
    }

    .navbar>.container-fluid {
        align-items: center;
        justify-content: flex-start
    }

    .navbar>.container-fluid .navbar-brand {
        margin-right: auto
    }

    .list_state li {
        width: 33.33%
    }

    .custom_container {
        padding: 0
    }

    .FlightSearchLeft {
        flex-wrap: wrap
    }

    .inputFlightSize {
        max-width: 24vw !important;
        width: 24vw
    }

    .t-dates.t-date-check-in {
        top: 5px;
        left: 40px
    }

    .t-datepicker-day {
        top: 75px;
        min-height: 26vh
    }

    .FlightSearchArea {
        width: 100% !important;
        padding: 10px 20px 20px
    }

    .navbar>.container-fluid {
        align-items: center;
        justify-content: flex-start;
        flex-wrap: initial
    }
}

@media (min-width:769px) {
    .navbar-collapse.collapse {
        display: flex !important
    }

    #menuToggle span,
    .navbar-expand-lg .navbar-toggler {
        display: none
    }

    .list_state li {
        width: 20%
    }

    .custom_container {
        padding: 0 75px
    }

    .content-section {
        padding-top: 100px;
        padding-left: 0;
        padding-right: 1.5%
    }

    .t-dates.t-date-check-in {
        top: 0;
        left: -5px
    }

    .inputFlightSize {
        max-width: 22.5% !important
    }

    .t-datepicker-day {
        top: 50px;
        min-height: 28vh
    }

    .FlightSearchArea {
        width: 100% !important;
        padding: 10px 24px 20px !important
    }

    .FlightSearchLeft {
        flex-wrap: inherit
    }

    .footer-container {
        padding: 1% 8% 0
    }
}

.bg-addmoney,
.bg-flightbook,
.bg-giftcard,
.bg-gold,
.bg-offer,
.bg-order,
.bg-profile,
.bg-recharge,
.bg-rent,
.bg-support,
.bg-wallet {
    width: 30px !important;
    height: 30px !important
}

@media only screen and (min-width:1100px) {
    #menuToggle input {
        display: none
    }

    .service-icon {
        padding: 28%
    }
}

.btn_wrapper,
.header-logo-section {
    padding: 10px
}

.footer-align-items {
    align-items: center;
    justify-content: center
}

.side_sprites {
    background-image: url('../../assets/sprites-img/side_sprites.png') !important;
    background-color: unset !important
}

.bg-rent {
    background-position: -10px -10px !important
}

.bg-recharge {
    background-position: -60px -10px !important
}

.bg-gold {
    background-position: -10px -60px !important
}

.bg-giftcard {
    background-position: -60px -60px !important
}

.bg-flightbook {
    background-position: -110px -10px !important
}

.bg-addmoney {
    background-position: -110px -60px !important
}

.bg-offer {
    background-position: -10px -110px !important
}

.bg-wallet {
    background-position: -60px -110px !important
}

.bg-support {
    background-position: -110px -110px !important
}

.bg-order {
    background-position: -160px -10px !important
}

.bg-profile {
    background-position: -160px -60px !important
}

.sprites-para,
.wallet-tag {
    display: flex;
    align-items: center;
    gap: 10px
}

.footer_sprites {
    background: url('../../assets/sprites-img/footer_sprites.png') no-repeat
}

.bg-american_express {
    width: 50px;
    height: 33px;
    background-position: -214px -188px
}

.bg-visa {
    width: 50px;
    height: 33px;
    background-position: -10px -256px
}

.bg-master {
    width: 50px;
    height: 32px;
    background-position: -150px -256px
}

.bg-app_image {
    width: 319px;
    height: 158px;
    background-position: -10px -10px
}

.bg-fb,
.bg-instagram,
.bg-linkedin {
    width: 48px;
    height: 48px
}

.bg-fb {
    background-position: -10px -188px
}

.bg-linkedin {
    background-position: -78px -188px
}

.bg-instagram {
    background-position: -146px -188px
}

.btn_wrapper {
    text-align: right
}

.image-alt-text {
    text-align: center;
    background-color: #404040;
    color: white;
    padding: 10px;
    border-radius: 5px;
}